{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="background-image: url('{{ url_for('static', filename='images/topstatic.png') }}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="card mb-3 w-100 bg-light" style="max-width: 600px; padding: 15px;">
        <div class="card-header"><h4>Log in to Misfit</h4></div>
        <div class="card-body">
            {{ render_form(form) }}
            <hr>
            <p class="small"><a href="{{ url_for('.register') }}">Register a new account</a></p>
            <p class="small"><a href="{{ url_for('.forget_password') }}">Forgot your password?</a></p>
        </div>
    </div>
</div>
{% endblock %}
