{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Register{% endblock %}

{% block content %}
<div style="background-image: url('{{ url_for('static', filename='images/topstatic.PNG') }}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="card mb-3 w-100 bg-light" style="max-width: 600px; padding: 15px;">
        <div class="card-header"><h4>Register Here</h4></div>
        <div class="card-body">
            {{ render_form(form) }}
            <hr>
            <small>Already have an account? <a href="{{ url_for('.login') }}">Click here to log in.</a></small>
        </div>
    </div>
</div>


{% endblock %}